/* .container {
  margin: 2rem 15rem;
  width: 70%;
}

.card {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  margin: 1rem 1rem;
} */

.card {
  margin: 1rem;
}
